.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexRow {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
}

.flexRowLocal {
    /* min-height: 100vh; */
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
}

/* Create two columns that floats next to each other */
.columnleft {
    float: left;
    width: 30%;
    padding: 10px;
    margin: 20px;
    box-shadow: 10px 10px 10px 10px rgb(216, 216, 216);
}

.columnright {
    float: left;
    width: 70%;
    padding: 10px;
    margin: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.project {
    padding: 0 0.5rem;
    margin: 10px;
    width: 100%;
    display: flex;
    background-color: #eaeaea;
    box-shadow: 2px 2px 0px blue;
    justify-content: center;
    border-radius: 5px;
}

.projectitem {
    padding: 0 0.5rem;
    margin: 10px;
    width: 100%;
    display: flex;
    background-color: #ffffff;
    border-left: 3px solid black;
    justify-content: center;
    /* border-radius: 5px; */
}

.logincontainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0070f3;
    min-height: 100vh;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0 0 1rem;
    line-height: 1.15;
    font-size: 3.6rem;
}

.title {
    text-align: center;
}

.title,
.description {
    text-align: center;
}


.description {
    line-height: 1.5;
    font-size: 1.5rem;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 800px;
    margin-top: 3rem;
}

.card {
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
}

.card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}






.butt {
    /* margin-left: 1rem; */
    flex-basis: 15%;
    /* position: absolute; */
    text-align: center;
    padding: 0.5rem;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    /* border-radius: 10px; */
    transition: color 0.15s ease, border-color 0.15s ease;
}

.butt:hover,
.butt:focus,
.butt:active {
    color: #0070f3;
    border-color: #0070f3;
}

.butt h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.butt p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}


.buttonDeck {
    /* align-items: center; */
    /* vertical-align: bottom; */
    position: absolute;
    bottom: 20px;
    background-color: rgb(230, 230, 230);
    flex: 1;
    height: 42;
    margin: 16;
    padding: 10;
    border-radius: 10
}


@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}